{% extends 'base.html' %}
{% block title %}Eliminar Reporte{% endblock %}
{% block content %}
<div class="row justify-content-center mt-5 mb-5">
    <div class="col-md-6 col-lg-5">
        <div class="card text-center p-4 p-sm-5 shadow-sm border-0">
            <div class="mb-4">
                <i class="bi bi-exclamation-circle text-danger" style="font-size: 4.5rem;"></i>
            </div>
            <h3 class="fw-bold mb-3">¿Eliminar publicación?</h3>
            
            <p class="text-muted mb-4">Esta acción borrará permanentemente a <strong>{{ object.nombre }}</strong> y no se puede deshacer.</p>
            
            <form method="post" class="d-flex justify-content-center gap-3 mt-2">
                {% csrf_token %}
                
                <a href="{% url 'mascotas:detalle_mascota' object.pk %}" class="btn btn-google-outline flex-grow-1">Cancelar</a>
                
                <button type="submit" class="btn btn-google-danger flex-grow-1">Sí, eliminar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}